<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Online_music_library</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>Index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginDB</display-name>
    <servlet-name>LoginDB</servlet-name>
    <servlet-class>LoginDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDB</servlet-name>
    <url-pattern>/LoginDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SigIN</display-name>
    <servlet-name>SigIN</servlet-name>
    <servlet-class>SigIN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigIN</servlet-name>
    <url-pattern>/SigIN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignDB</display-name>
    <servlet-name>SignDB</servlet-name>
    <servlet-class>SignDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignDB</servlet-name>
    <url-pattern>/SignDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index1</display-name>
    <servlet-name>Index1</servlet-name>
    <servlet-class>Index1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index1</servlet-name>
    <url-pattern>/Index1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Albums</display-name>
    <servlet-name>Albums</servlet-name>
    <servlet-class>Albums</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Albums</servlet-name>
    <url-pattern>/Albums</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Single</display-name>
    <servlet-name>Single</servlet-name>
    <servlet-class>Single</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Single</servlet-name>
    <url-pattern>/Single</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>About</display-name>
    <servlet-name>About</servlet-name>
    <servlet-class>About</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/About</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact</display-name>
    <servlet-name>Contact</servlet-name>
    <servlet-class>Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact1</display-name>
    <servlet-name>Contact1</servlet-name>
    <servlet-class>Contact1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact1</servlet-name>
    <url-pattern>/Contact1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetails</display-name>
    <servlet-name>UserDetails</servlet-name>
    <servlet-class>UserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetails</servlet-name>
    <url-pattern>/UserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSong</display-name>
    <servlet-name>AddSong</servlet-name>
    <servlet-class>AddSong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSong</servlet-name>
    <url-pattern>/AddSong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSong</display-name>
    <servlet-name>DeleteSong</servlet-name>
    <servlet-class>DeleteSong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSong</servlet-name>
    <url-pattern>/DeleteSong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadSong</display-name>
    <servlet-name>UploadSong</servlet-name>
    <servlet-class>UploadSong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadSong</servlet-name>
    <url-pattern>/UploadSong</url-pattern>
  </servlet-mapping>
 
</web-app>